body{
  background:url(1.jpeg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Bree Serif', serif;
}

.rowHeight{

  height: 500px;
}

h1{
 color: #28B463;
 font-size: 2.5em;

}
.bg{
  background-color: #c1c1c1;
  opacity: 0.8;
}

.footer{
  background-color: #D0D3D4;
  bottom: 0;
  position: fixed;

}

p{
  font-size: 18px;
  padding: 10px;
}
